#!/usr/bin/env bash

# //////////////////////////////////////////////////////////////////////////////
# Define globals
c_reset=$(echo -en '\033[0m')
c_red=$(echo -en '\033[00;31m')
c_lred=$(echo -en '\033[01;31m')
c_lgreen=$(echo -en '\033[01;33m')

custom_bin_path="$(expand_path './bin')"
PATH_add "${custom_bin_path}"

# //////////////////////////////////////////////////////////////////////////////
# Check project dependencies are met
has_dependency_error='false';
dependencies=( )

for dependency in "${dependencies[@]}"; do
  if ! which "${dependency}" &>/dev/null; then
    echo -en "${c_red}"
    echo -e ">> ERROR: '${dependency}' is missing or not in \$PATH"
    echo -en "${c_reset}"
    has_dependency_error='true'
  fi
done

# load nvm
if [[ -n "${NVM_DIR}" ]]; then
    type nvm >/dev/null 2>&1 || . "${NVM_DIR}/nvm.sh"
    nvm use
else
    echo -en "${c_red}"
    echo -e ">> ERROR: 'nvm' seems to be missing. Ensure that '\$NVM_DIR' is present"
    echo -en "${c_reset}"
    has_dependency_error='true'
fi

 [[ "${has_dependency_error}" == 'true' ]] && echo ''; # inject empty line if there is an dependency error